:root {
	--primaryColor: #00eaff;
	--primaryHover: hsl(185, 92%, 41%);
	--secondaryColor: rgb(150, 162, 188);
	--paragraphColor: rgb(127, 127, 175);
	--BgColor: #031a30;
	--formColor: rgb(2, 15, 29);
	--projectCardColor: #072340;
	--textColor: #dae4fb;
	--headerHeight: 3rem;
}

.skills {
	.skillsContainer {
		.groupTitle {
			color: var(--textColor);
			.subtitle {
				display: block;
				padding: 0.3rem 0 1rem;
				color: var(--secondaryColor);
				font-weight: 600;
			}
		}

		.generalSkills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-content: center;
			align-items: center;
			gap: 1rem;

			.singleSkill {
				display: grid;
				align-items: center;
				justify-content: center;

				.iconBox {
					position: relative;
					height: 70px;
					width: 50px;
					background: var(--projectCardColor);
					border: 2px solid var(--secondaryColor);
					border-radius: 3rem;
					justify-content: center;
					align-items: center;
					overflow: hidden;
					z-index: 500;

					.icon {
						font-size: 28px;
					}
				}

				.iconBox::before {
					content: "";
					height: 0;
					width: 100%;
					background: var(--primaryHover);
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					transition: 0.2s;
				}
				.iconBox::after {
					content: "";
					height: 0;
					width: 100%;
					background: var(--BgColor);
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					transition: 0.5s;
				}
				.iconBox:hover {
					color: var(--textColor);
					border: 2px solid var(--primaryColor);
					.icon {
						color: var(--primaryColor);
					}
				}

				.skillName {
					padding-top: 0.3rem;
					text-align: center;
					font-weight: 600;
					color: var(--secondaryColor);
				}
			}
		}
	}
}
